<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #d64161;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('welcomepage') }}">ChafAPI</a>
        <a href="{{ url_for('get_list') }}">List of equities</a> <!--this redirects to the url per application in the Python file -->
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('loginwtf') }}">Login user</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>